.notificationContainer {
  box-sizing: border-box;
  position: fixed;
}

.topRight {
  top: 0.75rem;
  right: 0.75rem;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.5s;
}

.bottomRight {
  bottom: 0.75rem;
  right: 0.75rem;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.5s;
}

.topLeft {
  top: 0.75rem;
  left: 0.75rem;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.5s;
}

.bottomLeft {
  bottom: 0.75rem;
  left: 0.75rem;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.5s;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
