$basic: basic #8a52c2 darken(#8a52c2, 10%);
$primary: primary #2196f3 darken(#2196f3, 10%);
$secondary: secondary #989898 darken(#989898, 10%);
$success: success #5cb85c darken(#5cb85c, 10%);
$warning: warning #f0ad4e darken(#f0ad4e, 10%);
$danger: danger #d9534f darken(#d9534f, 10%);

$types: $basic $primary $secondary $success $warning $danger;

$xs: xs 0.75rem;
$sm: sm 1.125rem;
$md: md 1.5rem;
$lg: lg 1.75rem;
$xl: xl 2.25rem;

$sizes: $xs $sm $md $lg $xl;

@each $size in $sizes {
  .#{nth($size,1)} {
    font-size: nth($size, 2);
    button {
      font-size: 1.5 * nth($size, 2);
    }
  }
}

@each $type in $types {
  .#{nth($type,1)} {
    color: nth($type, 2);
    background-color: lighten(nth($type, 2), 35%);
    border-radius: 0.25rem;
    button {
      border: none;
      color: darken(nth($type, 2), 10%);
    }
    .notificationIcon {
      padding: 0.5rem;
      background: darken(nth($type, 2), 10%);
      align-self: stretch;
      color: lighten(nth($type, 2), 30%);
      border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }
  }
}

.toast {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 25rem;

  button {
    background: transparent;
    outline: none;
    cursor: pointer;
  }
}

.notificationDetails {
  flex-grow: 1;
  padding: 0.25rem 0.5rem;
}
