.dropContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25rem dashed #989898;
  height: 15rem;
  cursor: pointer;
}

.fileUploadContainer {
  margin-top: 0.5rem;
  max-height: 25rem;
  overflow-y: auto;
}
