.container {
  display: flex;
  align-items: center;

  div:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.fileName {
  width: 12.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primaryBlack);
}

.fileSize {
  width: 6.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.success {
  color: #5cb85c;
}

.error {
  color: #d9534f;
  font-weight: 600;
}

@media (max-width: 560px) {
  .fileName {
    width: 10rem;
  }
}
